<form method="get" asp-controller="Product" asp-action="ShowBill">
    <div>
        <label for="billId">Bill Number:</label>
        <input type="number" name="billId" id="billId" required min="1"/>
    <button type="submit">Show Bill</button>
    </div>
</form>
