<style>
    h2{
        text-align:center;
    }
    form{
        text-align:center;
    }
</style>
<h2>Data Saved Succesfully.</h2> 

<form method="get" asp-controller="Product" asp-action="Index">
   <button type="submit" style="background-color:dimgrey">Back</button>
    </form>
