@model BillViewModel
<h1>Bill Details</h1>
<style>
        table{
            width:70%;
        }
        th{
            border:2px solid #004b49;
             text-align:center;
    vertical-align:middle
        }
        td{
    border:2px solid #004b49;
    text-align:center;
    vertical-align:middle
        }
        h1{
             text-align:center;
             color:black;
        }
        .align-self-xxl-center{
            align-items:center;
        }
</style>

<body>
    <table align="center">
        <tr>
            <th colspan="4" text-align="centre">Bill Details</th>
        </tr>
        <tr>
            <th colspan="2">Bill Number:@Model.BillId</th>
            <th colspan="2">Date:@Model.Date</th>
        </tr>
        <tr>
            <th colspan="4">Customer Name:@Model.CustomerName</th>
        </tr>
        <tr>
            <th colspan="1">Product</th>
            <th colspan="1">Quantity</th>
            <th colspan="1">Price</th>
            <th colspan="1">Total</th>
        </tr>
        @foreach (var purchaseDetail in Model.PurchaseDetails)
        {
            <tr>
                <td colspan="1">@purchaseDetail.product.Name</td>
                <td colspan="1">@purchaseDetail.Quantity</td>
                <td colspan="1">@purchaseDetail.product.Price</td>
                <td colspan="1">@(purchaseDetail.Quantity*purchaseDetail.product.Price)</td>
            </tr>
        }
        <tr>
            <th colspan="4">Net Total:@Model.NetTotal Rs</th>
        </tr>
    </table>
</body>
<br />
<style>
    .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<form method="post" asp-controller="Product" asp-action="Index">
    <div class="center">
    <button type="submit" style="background-color:dimgrey">Home</button>
    </div>
</form>

